In [131]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
%matplotlib inline 
import gc
import os
from datetime import datetime 
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.metrics import roc_auc_score

dataset= pd.read_excel("https://archive.ics.uci.edu/ml/machine-learning-databases/00350/default%20of%20credit%20card%20clients.xls")

Requirement already satisfied: catboost in /opt/conda/lib/python3.7/site-packages (1.0.3)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.7/site-packages (from catboost) (3.2.1)
Requirement already satisfied: six in /opt/conda/lib/python3.7/site-packages (from catboost) (1.14.0)
Requirement already satisfied: numpy>=1.16.0 in /opt/conda/lib/python3.7/site-packages (from catboost) (1.18.4)
Requirement already satisfied: graphviz in /opt/conda/lib/python3.7/site-packages (from catboost) (0.18)
Requirement already satisfied: pandas>=0.24.0 in /opt/conda/lib/python3.7/site-packages (from catboost) (1.0.3)
Requirement already satisfied: plotly in /opt/conda/lib/python3.7/site-packages (from catboost) (5.3.1)
Requirement already satisfied: scipy in /opt/conda/lib/python3.7/site-packages (from catboost) (1.4.1)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.7/site-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib->catboost) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib->catboost) (1.2.0)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.24.0->catboost) (2020.1)
Requirement already satisfied: tenacity>=6.2.0 in /opt/conda/lib/python3.7/site-packages (from plotly->catboost) (8.0.1)
Requirement already satisfied: lightgbm in /opt/conda/lib/python3.7/site-packages (3.3.1)
Requirement already satisfied: scipy in /opt/conda/lib/python3.7/site-packages (from lightgbm) (1.4.1)
Requirement already satisfied: numpy in /opt/conda/lib/python3.7/site-packages (from lightgbm) (1.18.4)
Requirement already satisfied: wheel in /opt/conda/lib/python3.7/site-packages (from lightgbm) (0.34.2)
Requirement already satisfied: scikit-learn!=0.22.0 in /opt/conda/lib/python3.7/site-packages (from lightgbm) (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /opt/conda/lib/python3.7/site-packages (from scikit-learn!=0.22.0->lightgbm) (0.15.1)
Requirement already satisfied: xgboost in /opt/conda/lib/python3.7/site-packages (1.5.0)
Requirement already satisfied: numpy in /opt/conda/lib/python3.7/site-packages (from xgboost) (1.18.4)
Requirement already satisfied: scipy in /opt/conda/lib/python3.7/site-packages (from xgboost) (1.4.1)

In [148]:
dataset.head()

df = pd.Cov = pd.read_excel(
    "https://archive.ics.uci.edu/ml/machine-learning-databases/00350/default%20of%20credit%20card%20clients.xls", 
     sep=',', 
     names=["ID","LIMIT_BAL", "SEX", "EDUCATION", "MARRIAGE", "AGE", 
                "PAY_0", "PAY_2", "PAY_3", "PAY_4", "PAY_5", "PAY_6", 
                "BILL_AMT1","BILL_AMT2", "BILL_AMT3", "BILL_AMT4", "BILL_AMT5", 
                "BILL_AMT6", "PAY_AMT1", "PAY_AMT2", "PAY_AMT3", "PAY_AMT4", 
                "PAY_AMT5", "PAY_AMT6", "default_payment_next_month"])
print(dataset)
print(dataset.columns)

      Unnamed: 0         X1   X2         X3        X4   X5     X6     X7  \
0             ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2
1              1      20000    2          2         1   24      2      2
2              2     120000    2          2         2   26     -1      2
3              3      90000    2          2         2   34      0      0
4              4      50000    2          2         1   37      0      0
...          ...        ...  ...        ...       ...  ...    ...    ...
29996      29996     220000    1          3         1   39      0      0
29997      29997     150000    1          3         2   43     -1     -1
29998      29998      30000    1          2         2   37      4      3
29999      29999      80000    1          3         1   41      1     -1
30000      30000      50000    1          2         1   46      0      0

          X8     X9    X10    X11        X12        X13        X14        X15  \
0      PAY_3  PAY_4  PAY_5  PAY_6  BILL_AMT1  BILL_AMT2  BILL_AMT3  BILL_AMT4
1         -1     -1     -2     -2       3913       3102        689          0
2          0      0      0      2       2682       1725       2682       3272
3          0      0      0      0      29239      14027      13559      14331
4          0      0      0      0      46990      48233      49291      28314
...      ...    ...    ...    ...        ...        ...        ...        ...
29996      0      0      0      0     188948     192815     208365      88004
29997     -1     -1      0      0       1683       1828       3502       8979
29998      2     -1      0      0       3565       3356       2758      20878
29999      0      0      0     -1      -1645      78379      76304      52774
30000      0      0      0      0      47929      48905      49764      36535

             X16        X17       X18       X19       X20       X21       X22  \
0      BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  PAY_AMT3  PAY_AMT4  PAY_AMT5
1              0          0         0       689         0         0         0
2           3455       3261         0      1000      1000      1000         0
3          14948      15549      1518      1500      1000      1000      1000
4          28959      29547      2000      2019      1200      1100      1069
...          ...        ...       ...       ...       ...       ...       ...
29996      31237      15980      8500     20000      5003      3047      5000
29997       5190          0      1837      3526      8998       129         0
29998      20582      19357         0         0     22000      4200      2000
29999      11855      48944     85900      3409      1178      1926     52964
30000      32428      15313      2078      1800      1430      1000      1000

            X23                           Y
0      PAY_AMT6  default payment next month
1             0                           1
2          2000                           1
3          5000                           0
4          1000                           0
...         ...                         ...
29996      1000                           0
29997         0                           0
29998      3100                           1
29999      1804                           1
30000      1000                           1

[30001 rows x 25 columns]
Index(['Unnamed: 0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9',
       'X10', 'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19',
       'X20', 'X21', 'X22', 'X23', 'Y'],
      dtype='object')

In [149]:
dataset.tail()

,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
29996,29996,220000,1,3,1,39,0,0,0,0,0,0,188948,192815,208365,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29997,29997,150000,1,3,2,43,-1,-1,-1,-1,0,0,1683,1828,3502,8979,5190,0,1837,3526,8998,129,0,0,0
29998,29998,30000,1,2,2,37,4,3,2,-1,0,0,3565,3356,2758,20878,20582,19357,0,0,22000,4200,2000,3100,1
29999,29999,80000,1,3,1,41,1,-1,0,0,0,-1,-1645,78379,76304,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
30000,30000,50000,1,2,1,46,0,0,0,0,0,0,47929,48905,49764,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [150]:
dataset.nunique()

Unnamed: 0    30001
X1               82
X2                3
X3                8
X4                5
X5               57
X6               12
X7               12
X8               12
X9               12
X10              11
X11              11
X12           22724
X13           22347
X14           22027
X15           21549
X16           21011
X17           20605
X18            7944
X19            7900
X20            7519
X21            6938
X22            6898
X23            6940
Y                 3
dtype: int64

In [151]:
dataset.describe()

total = dataset.isnull().sum().sort_values(ascending = False)
percent = (dataset.isnull().sum()/dataset.isnull().count()*100).sort_values(ascending = False)
pd.concat([total, percent], axis=1, keys=['Total', 'Percent']).transpose()

#simple way to find the missing values 
dataset.isna()

,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
30000,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [157]:
def boxplot_variation(feature1, feature2, feature3, width=16):
    fig, ax1 = plt.subplots(ncols=1, figsize=(width,6))
    s = sns.boxplot(ax = ax1, x=feature1, y=feature2, hue=feature3,
                data=dataset, palette="PRGn",showfliers=False)
    s.set_xticklabels(s.get_xticklabels(),rotation=90)
    plt.show();